@import './customVariables.scss';

.modal-dialog{
  margin-top: 7em;
}


/*Estilo de los inputs*/
.custom-input{
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  input, select, textarea{
    outline:0px;
    width: 100%;
    min-height: 2em;
    max-width: 31em;
    border-color: $custom-green;
    border-style: solid;
    border-radius: .5em;
    border-width: 2px;
    padding: 0 .5rem;
    ::placeholder {
      color: $custom-light !important;
      font-size: small;
    }
  }
  input:focus, select:focus{
    border-color: $custom-dark-green;
  }
  label{
    width: 100%;
    max-width: 31em;
    margin-bottom: 0px;
    float: left;
    font-size: medium;
    color: $text-color;
  }
}
.bg-transparent{
  background-color: rgba(0, 0, 0, 0) !important;
  --background: rgba(0, 0, 0, 0) !important;
}
/*Custom green*/
.custom-bg-green{
  background-color: $custom-green !important;
  --background: $custom-green !important;
}
.custom-text-green{
  color: $custom-green !important;
}
.custom-border-color-green{
  border-color: $custom-green !important;
}
/*Custom fluorescent green*/
.custom-bg-fluorescent-green{
  background-color: $custom-fluorescent-green !important;
  --background: $custom-fluorescent-green !important;
}
.custom-text-fluorescent-green{
  color: $custom-fluorescent-green !important;
}
.custom-border-color-fluorescent-green{
  border-color: $custom-fluorescent-green !important;
}


a{
  color: $custom-green !important;
  text-decoration: underline;
}
.custom-icon{
  width: 1.3em;
  height: 1.3em;
}
.custom-icon-lg{
  width: 2em;
  height: 2em;
}