$custom-green: #1F6A39;
$custom-fluorescent-green: #96D813;
$custom-red: #EC6649;
$custom-yellow: #FFD203;
$custom-blue: #1F788C;
$custom-dark-green: #033122;
$custom-light-green: #036e4b;
$text-color: rgb(110, 110, 110);
$custom-light: rgb(167, 167, 167);